
.active span{
    color:#fff;
}

.container-hc
{
    background-image:linear-gradient(to bottom right,#40bad5,#120136);
    margin-top: 70px;
    color: #fff;
    width: 100%;
    line-height: 2em;
    text-align: center;
}
.container-hc .row{
    text-align: center;
    font-size: 2em;
    line-height: 150%;
    padding: 50px;
}
.hc-btn{
    border-radius: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    color: #fff;
    background:transparent;
    border: 2px solid #fff;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}


.hc-btn:hover{
    background-color: #fcbf1e;
}