/*
Color Palatte:
text:#fff
Gradient : #40bad5,#120136
Menu-bg :#035aa6
Buttons: transparent
Buttons::hover:- bg-color : #fcbf1e
button-text-size : 2em
normal font-size : 1- 2 em
font-family:Verdana, Geneva, Tahoma, sans-serif;
*/


*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    /* font-weight: bold; */
}
#header
{
    background: yellow;
    padding-top: 5%;
    /* margin-top: 25%; */
    background-image:linear-gradient(to bottom right,#40bad5,#120136);
    /* background-image:linear-gradient(to top left,#000,#80d0c7); */
    /* background-image: linear-gradient(to right top, #8f36c2, #b92ca2, #cd3785, #d44d6f, #d16562, #cf6160, #cd5e5f, #cb5a5d, #c7386a, #b71481, #920d9e, #3e29bc);    background-size: cover; */
    background-repeat: no-repeat;
}
#header>#codingimg{
    right: -100px;
    /* animation: headerimg-ani 3s linear; */
}
@media (max-width:500px){
#header{
    padding-top: 20%;
}
}
@media (min-width:360px){
#header>#coding-img{
    right: 100px;
}
}
#header>.mydiv
{
    margin: auto;
    padding: 50px;
    text-align: center;
    left: -10px;
    /* transition: all 2s; */
    /* animation: header-ani 3s ease-out; */
    
}
@keyframes header-ani
{
    0%{left: 50px;}
    50%{left: 75px;}
    100%{left: 100px;}
}


@keyframes headerimg-ani
{
    0%{right: 50px;}
    50%{right: 75px;}
    100%{right: 100px;}
}

.active span{
    color:#fff;
}
#Navbar ul li:hover a{
    /* transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715); */
    transition: all 0.5s cubic-bezier(.15,.9,.87,.12);
    color: #fcbf1e;
    /* border-bottom: 2px solid #fcbf1e; */
}
#header>.mydiv>h1{
    color: #fff;
    line-height: 1.1em;
    letter-spacing: 0.5rem;
    padding-bottom: 10px;
}
#header>#caption >.joinbtn
{
    color: #fff;
    border-radius: 70px;
    border: none;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    background: transparent;
    border: 2px solid #fff;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

}
#header>#caption >.joinbtn:hover{
    /* background-image:linear-gradient(95deg,#33ccff,#000); */
    background-color: #fcbf1e;

}

/*----------------------footer----------------------------*/
footer
{
    background-image:linear-gradient(to bottom right,#40bad5,#120136);
    padding-bottom: 1%;
}
footer h3
{
    color: #fff;
    list-style-type: none;
    padding-bottom: 10%;
    border-bottom: 2px solid #fff;
}
footer .container
{
    text-align: center;
    padding-top: 5%;   
}
footer table tr td
{
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.2em;
    text-align: center;
    /* border: 2px solid #fff; */
}
footer ul li{
    color: #fff;
    margin-bottom: 5px;
    display : flex;
	justify-content:space-evenly;
    align-items: center;
    font-size: 1.2em;

}
footer ul li a
{
    color: #fff;
    font-size: 1.2em;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

}
footer ul li a:hover
{
    text-decoration: none;
    color: #fcbf1e;
    
}
#social{
    padding: 70px 0px;
}
#social i{
    color: #40bad5;
    background-color: #fff;
    border-radius:60px;
    padding:0.6em 0.6em;
    border: 2px solid #fff;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
#social i:hover
{
    color: #fff;
    background-color: #fcbf1e;
}
#rights
{
    color: #fff;
    padding: 1%;
    text-align: center;
}
/*----------------------footer----------------------------*/

